{% extends 'shared/base.html' %}
{% load static %}

{% block title %}
    {% if proveedor %}Editar Proveedor{% else %}Agregar Proveedor{% endif %}
{% endblock %}

{% block header %}
<div class="container-fluid text-center py-4" style="background-color: #4a4063; margin-bottom: 4rem;">
    <img class="img-fluid d-block mx-auto" style="max-height: 5rem" src="{% static '/images/Logo.png' %}" alt="Logo" />
</div>
{% endblock %}

{% block content %}
<div class="container d-flex align-items-center justify-content-center" style="height: 50vh">
    <div class="card p-4 shadow mt-5" style="max-width: 32rem; width: 100%;">
        <form action="{% if proveedor %}{% url 'editProveedor' proveedor.id %}{% else %}{% url 'addProveedor' %}{% endif %}" method="POST">
            <h1 class="card-title text-center">
                {% if proveedor %}Editar Proveedor{% else %}Añadir Proveedor{% endif %}
            </h1>
            {% csrf_token %}
            
            <!-- Nombre del Proveedor -->
            <div class="form-group mt-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Costa" maxlength="100" value="{% if proveedor %}{{ proveedor.nombre }}{% endif %}" />
                {% if errores.name_empty %}
                    <span class="text-danger">{{ errores.name_empty }}</span>
                {% endif %}
            </div>

            <!-- Correo del Proveedor -->
            <div class="form-group mt-3">
                <label for="correo" class="form-label">Correo</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="caredenas_adrian" aria-label="correo" name="correo" id="correo" value="{% if proveedor %}{{ proveedor.correo|cut:"@.*" }}{% endif %}" />
                    <span class="input-group-text">@</span>
                    <input type="text" class="form-control" placeholder="costa.cl" aria-label="dominio" name="dominio" id="dominio" value="{% if proveedor %}{{ proveedor.correo|slice:":.*" }}{% endif %}" />
                </div>
                <div class="mt-2">
                    {% if errores.email_empty %}
                        <span class="text-danger">{{ errores.email_empty }}</span>
                    {% elif errores.email_char_error %}
                        <span class="text-danger">{{ errores.email_char_error }}</span>
                    {% endif %}
                </div>
            </div>

            <!-- Teléfono del Proveedor -->
            <div class="form-group mt-3">
                <label for="telefono" class="form-label">Teléfono</label>
                <input type="text" id="telefono" name="telefono" class="form-control" maxlength="16" value="{% if proveedor %}{{ proveedor.telefono }}{% endif %}" />
                {% if errores.phone_empty %}
                    <span class="text-danger">{{ errores.phone_empty }}</span>
                {% elif errores.phone_char_error %}
                    <span class="text-danger">{{ errores.phone_char_error }}</span>
                {% endif %}
            </div>

            <!-- Botones de Acción -->
            <div class="col mt-3 text-center">
                <a href="{% url 'proveedores' %}" class="btn btn-secondary">Volver</a>
                <button type="submit" class="btn btn-primary">
                    {% if proveedor %}Guardar Cambios{% else %}Añadir{% endif %}
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
