{% extends 'shared/baseIndex.html' %}
{% load static %}

{% block title %}Configuraciones{% endblock %}

{% block brand %}
<a href="{% url 'AdminHome' %}" class="navbar-brand">
    <img class="img-fluid d-block mx-auto" style="max-height: 5rem;" src="{% static '/images/Logo.png' %}" alt="Logo">
</a>
{% endblock %}

{% block navitems %}
<li class="nav-item">
    <a href="{% url 'AdminHome' %}" class="nav-link">Inicio</a>
</li>
<li class="nav-item">
    <a href="{% url 'Trabajadores' %}" class="nav-link">Gestion de Trabajadores</a>
</li>
<li class="nav-item">
    <a href="{% url 'Reportes' %}" class="nav-link">Reportes</a>
</li>
<li class="nav-item">
    <a href="{% url 'Config' %}" class="nav-link">Configuracion Tienda</a>
</li>
<li class="nav-item">
    <a href="{% url 'Register' %}" class="nav-link">Ingreso de Usuarios</a>
</li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h4 class="h4" style="border-bottom: solid;">Proveedores</h4>
            <div class="table-responsibe mt-3">
                {% if proveedores %}
                    <div class="row">
                        <div class="col text-start">
                            <a href="{% url 'Config' %}" class="btn btn-primary mx-auto">volver</a>
                        </div>
                        <div class="col text-end">
                            <a href="{% url 'addProveedor' %}" class="btn btn-primary mx-auto">+</a>
                        </div>
                    </div>
                {% else %}
                <div class="row">
                    <div class="col text-start">
                        <a href="{% url 'Config' %}" class="btn btn-primary">Volver</a>
                    </div>
                </div>
                {% endif %}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Telefono</th>
                            <th>Disponibilidad</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                        {% if not proveedores %}
                        <tr id="emptyRow">
                          <td colspan="9" class="text-center">
                            <a href="{% url 'addProveedor' %}" class="btn btn-primary">+</a>
                          </td>
                        </tr>
                        {% else %}
                        {% for i in proveedores %}
                        <tr>
                            <td>{{i.nombre}}</td>
                            <td>{{i.correo}}</td>
                            <td>{{i.telefono}}</td>
                            <td>{% if i.disponible %}Disponible{% else %}No Disponible {% endif %}</td>
                            <td>
                                <!-- cambiar texto por iconos -->
                                <a href="{% url 'editProveedor' i.id %}" class="btn btn-primary">Editar</a>
                                <a href="{% url 'blockProveedor' i.id %}" class="btn btn-warning">Restringir</a>                            </td> 
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>    
    </div>
{% endblock %}