{% extends 'shared/baseIndex.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block brand %}
<a href="{% url 'SupHome' %}" class="navbar-brand">
    <img class="img-fluid d-block mx-auto" style="max-height: 5rem;" src="{% static '/images/Logo.png' %}" alt="Logo">
</a>
{% endblock %}

{% block navitems %}
    <li class="nav-item">
        <a href="{% url 'SupHome' %}" class="nav-link">Inicio</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'SupPanel' %}" class="nav-link">Panel de Control</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'SupInvent' %}" class="nav-link">Gestion de Inventario</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'SupPersonal' %}" class="nav-link">Gestion Personal</a>
    </li>
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="text-center">Contenido Destacado Supervisor</h1>
        <p class="text-center mt-3">Bienvenido al panel de supervisión. Aquí puedes gestionar todas las operaciones necesarias para un funcionamiento óptimo.</p>
    </div>
{% endblock %}
