{% extends 'shared/baseIndex.html'%}
{% load static %}

{% block title %}Inventario{% endblock %}

{% block brand %}
<a href="{% url 'SupHome' %}" class="navbar-brand">
    <img class="img-fluid d-block mx-auto" style="max-height: 5rem;" src="{% static '/images/Logo.png' %}" alt="Logo">
</a>
{% endblock %}

{% block navitems %}
<li class="nav-item">
    <a href="{% url 'SupHome' %}" class="nav-link">Inicio</a>
</li>
<li class="nav-item">
    <a href="{% url 'SupPanel' %}" class="nav-link">Panel de Control</a>
</li>
<li class="nav-item">
    <a href="{% url 'SupInvent' %}" class="nav-link">Gestion de Inventario</a>
</li>
<li class="nav-item">
    <a href="{% url 'SupPersonal' %}" class="nav-link">Gestion Personal</a>
</li>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col">
            <h4 class="h4" style="border-bottom: solid;">Inventario Actual</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Stock</th>
                        <th>Estado</th>
                        <th>Precio Unitario</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Iterar con bd -->
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}