{% extends 'shared/baseIndex.html' %}
{% load static %}

{% block title %}Reportes{% endblock %}

{% block brand %}
<a href="{% url 'AdminHome' %}" class="navbar-brand">
    <img class="img-fluid d-block mx-auto" style="max-height: 5rem;" src="{% static '/images/Logo.png' %}" alt="Logo">
</a>
{% endblock %}

{% block navitems %}
<li class="nav-item">
    <a href="{% url 'AdminHome' %}" class="nav-link">Inicio</a>
</li>
<li class="nav-item">
    <a href="{% url 'Trabajadores' %}" class="nav-link">Gestion de Trabajdores</a>
</li>
<li class="nav-item">
    <a href="{% url 'Reportes' %}" class="nav-link">Reportes</a>
</li>
<li class="nav-item">
    <a href="{% url 'Config' %}" class="nav-link">Configuracion tienda</a>
</li>
<li class="nav-item">
    <a href="{% url 'Register' %}" class="nav-link">Ingreso de Usuarios</a>
</li>
{% endblock %}

{% block content %}
<div class="container">
    <h4 class="h4" style="border-bottom: solid;">Generar Reporte</h4>
    <div class="col mt-3">
        <form action="">
            <div class="row">
                <div class="col-4">
                    <label for="tipo" class="form-label">Tipo</label>
                    <select name="tipo" id="tipo" class="form-select">
                        <option value="-1">--Seleccione Reporte--</option>
                        <!-- Cargar -->
                    </select>
                </div>
                <div class="col-4">
                    <label for="categoria" class="form-label">Categoria</label>
                    <select name="categoria" id="categoria" class="form-select">
                        <option value="-1">--Seleccione Categoria--</option>
                        <!-- Cargar -->
                    </select>
                </div>
                <div class="col-4">
                    <label for="trabajador" class="form-label">Trabajador/es</label>
                    <select name="trabajador" id="trabajador" class="form-select">
                        <option value="-1">--Seleccione Trabajador--</option>
                        <!-- Cargar -->
                    </select>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-4">
                    <label for="anio" class="form-label">Año</label>
                    <select name="anio" id="anio" class="form-select">
                        <option value="-1">--Seleccione Año--</option>
                        <!-- Cargar -->
                    </select>
                </div>
                <div class="col-4">
                    <label for="mes" class="form-label">Mes</label>
                    <select name="mes" id="mes" class="form-select">
                        <option value="-1">--Seleccione Mes--</option>
                        <!-- Cargar -->
                    </select>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <label for="descripcion" class="form-label">Descripción</label>
                    <textarea name="descripcion" id="descripcion" class="form-control" rows="4"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-secondary mt-3">Generar</button>
        </form>
    </div>
    <div class="col mt-3">
        <h4 style="border-bottom: solid;">Historial</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Nro</th>
                    <th>Area</th>
                    <th>Trabajador</th>
                    <th>Fecha</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                <!-- Cargar -->
            </tbody>
        </table>
    </div>
</div>
{% endblock %}