{% extends 'shared/baseIndex.html' %}
{% load static %}

{% block title %}Ventas{% endblock %}

{% block brand %}
<a href="{% url 'VenHome' %}" class="navbar-brand">
    <img class="img-fluid d-block mx-auto" style="max-height: 5rem;" src="{% static '/images/Logo.png' %}" alt="Logo">
</a>
{% endblock %}

{% block navitems %}
<li class="nav-item">
    <a href="{% url 'VenHome' %}" class="nav-link">Inicio</a>
</li>
<li class="nav-item">
    <a href="{% url 'Ventas' %}" class="nav-link">Gestión Venta</a>
</li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-3">
            <h4 class="h4" style="border-bottom: solid;">Ventas Nuevas</h4>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-3">
                        <label for="codigo" class="form-label">Código</label>
                        <input type="number" name="codigo" id="codigo" class="form-control" placeholder="Ingrese código">
                    </div>
                    <div class="col-3">
                        <label for="cantidad" class="form-label">Cantidad</label>
                        <input type="number" name="cantidad" id="cantidad" class="form-control" placeholder="Ingrese cantidad">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Agregar Carro</button>
            </form>
        </div>

        <div class="row mt-3">
            <h5 class="h5" style="border-bottom: solid;">En el carro actual</h5>
            <form action="" method="POST">
                <div class="col-3">
                    <label for="rut" class="form-label">Rut Cliente</label>
                    <input type="text" name="rut" id="rut" class="form-control" maxlength="13" placeholder="Ingrese Rut del cliente">
                </div>
                <table class="table mt-3">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio Unitario</th>
                            <th>Precio Total</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Iterar Carro de Compras -->
                        <!-- Aquí se debe incluir la lógica para mostrar los productos en el carro -->
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary mt-3">Confirmar Compra</button>
            </form>
        </div>

        <div class="row mt-3">
            <h4 class="h4" style="border-bottom: solid;">Historial de Ventas</h4>
            <div class="col mt-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nro</th>
                            <th>Productos</th>
                            <th>Precio</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Iterar productos en BD -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
