{% extends 'shared/baseIndex.html' %}
{% load static %}

{% block title %}Configuraciones{% endblock %}

{% block brand %}
<a href="{% url 'AdminHome' %}" class="navbar-brand">
    <img class="img-fluid d-block mx-auto" style="max-height: 5rem;" src="{% static '/images/Logo.png' %}" alt="Logo">
</a>
{% endblock %}

{% block navitems %}
<li class="nav-item">
    <a href="{% url 'AdminHome' %}" class="nav-link">Inicio</a>
</li>
<li class="nav-item">
    <a href="{% url 'Trabajadores' %}" class="nav-link">Gestión de Trabajadores</a>
</li>
<li class="nav-item">
    <a href="{% url 'Reportes' %}" class="nav-link">Reportes</a>
</li>
<li class="nav-item">
    <a href="{% url 'Config' %}" class="nav-link">Configuración Tienda</a>
</li>
<li class="nav-item">
    <a href="{% url 'Register' %}" class="nav-link">Ingreso de Usuarios</a>
</li>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h4 class="h4" style="border-bottom: solid;">Categorías</h4>
        <div class="table-responsive mt-3">
            <div class="row">
                <div class="col text-start">
                    <a href="{% url 'productos' %}" class="btn btn-primary mx-auto">Volver</a>                         
                </div>
            </div>
            <div class="row mt-3">
                {% if editable %}
                <h5>Editar Categoría</h5>
                <form method="POST" action="{% url 'editCategoria' editable.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ editable.id }}">
                    <div class="col-5">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" maxlength="50" value="{{ editable.nombre }}">
                        {% if errores.name_empty %}
                        <span class="text-danger">{{ errores.name_empty }}</span>
                        {% elif errores.name_max_char %}
                        <span class="text-danger">{{ errores.name_max_char }}</span>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Guardar Cambios</button>
                </form>
                {% else %}
                <h5>Agregar Categoría</h5>
                <form method="POST" action="{% url 'categorias' %}">
                    {% csrf_token %}
                    <div class="col-5">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" maxlength="50">
                        {% if errores.name_empty %}
                        <span class="text-danger">{{ errores.name_empty }}</span>
                        {% elif errores.name_max_char %}
                        <span class="text-danger">{{ errores.name_max_char }}</span>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Añadir</button>
                </form>
                {% endif %}
            </div>
            <table class="table table-hover mt-3">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Disponibilidad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    {% if categorias %}
                    {% for i in categorias %}
                    <tr>
                        <td>{{ i.nombre }}</td>
                        <td>{% if i.disponible %}Disponible{% else %}No Disponible{% endif %}</td>
                        <td>
                            <a href="{% url 'editCategoria' i.id %}" class="btn btn-primary">Editar</a>
                            <a href="{% url 'blockCategoria' i.id %}" class="btn btn-danger">(/)</a>
                        </td> 
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="3" class="text-center">No hay categorías disponibles.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>    
</div>
{% endblock %}
