{% extends 'shared/baseIndex.html' %}
{% load static %}

{% block title %}Configuraciones{% endblock %}

{% block brand %}
<a href="{% url 'AdminHome' %}" class="navbar-brand">
    <img class="img-fluid d-block mx-auto" style="max-height: 5rem;" src="{% static '/images/Logo.png' %}" alt="Logo">
</a>
{% endblock %}

{% block navitems %}
<li class="nav-item">
    <a href="{% url 'AdminHome' %}" class="nav-link">Inicio</a>
</li>
<li class="nav-item">
    <a href="{% url 'Trabajadores' %}" class="nav-link">Gestión de Trabajadores</a>
</li>
<li class="nav-item">
    <a href="{% url 'Reportes' %}" class="nav-link">Reportes</a>
</li>
<li class="nav-item">
    <a href="{% url 'Config' %}" class="nav-link">Configuración Tienda</a>
</li>
<li class="nav-item">
    <a href="{% url 'Register' %}" class="nav-link">Ingreso de Usuarios</a>
</li>
{% endblock %}

{% block content %}
<div class="container mt-4">
  <h4 class="h4 mb-4" style="border-bottom: 2px solid #4A4063; padding-bottom: 10px;">Actividades</h4>
  <div class="row text-center">
    <div class="col-md-4 mt-3">
      <a href="{% url 'productos' %}" class="text-decoration-none text-dark">
        <div class="card border-0 shadow-sm p-3">
          <i class="fas fa-box fa-3x"></i>
          <h5 class="h5 mt-2">Productos</h5>
        </div>
      </a>
    </div>
    <div class="col-md-4 mt-3">
      <a href="{% url 'proveedores' %}" class="text-decoration-none text-dark">
        <div class="card border-0 shadow-sm p-3">
          <i class="fas fa-truck fa-3x"></i>
          <h5 class="h5 mt-2">Proveedores</h5>
        </div>
      </a>
    </div>
  </div>
</div>
{% endblock %}
