{% extends 'shared/baseIndex.html' %}
{% load static %}

{% block title %}Configuraciones{% endblock %}

{% block brand %}
<a href="{% url 'AdminHome' %}" class="navbar-brand">
    <img class="img-fluid d-block mx-auto" style="max-height: 5rem;" src="{% static '/images/Logo.png' %}" alt="Logo">
</a>
{% endblock %}
{% block home %}
<li class="nav-item">
    <a href="{% url 'home' %}" class="nav-link">
        <i class="fa-solid fa-house-user"></i>
    </a>
</li>
{% endblock %}
{% block navitems %}
<li class="nav-item">
    <a href="{% url 'AdminHome' %}" class="nav-link">Inicio</a>
</li>
<li class="nav-item">
    <a href="{% url 'Trabajadores' %}" class="nav-link">Gestion de Trabajdores</a>
</li>
<li class="nav-item">
    <a href="{% url 'Reportes' %}" class="nav-link">Reportes</a>
</li>
<li class="nav-item">
    <a href="{% url 'Config' %}" class="nav-link">Configuracion Tienda</a>
</li>
<li class="nav-item">
    <a href="{% url 'Register' %}" class="nav-link">Ingreso de Usuarios</a>
</li>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h4 class="h4" style="border-bottom: solid;">Actividades</h4>
        <div class="col-2 mt-3 mx-auto text-center">
            <a href="{% url 'productos' %}">
                <i class="fas fa-box fa-3x"></i>
            </a>
            <h5 class="h5 mt-2">Productos</h5>
        </div>
        <div class="col-2 mt-3 mx-auto text-center">
            <a href="{% url 'SupInvent' %}">
                <i class="fa-solid fa-boxes-stacked fa-3x"></i>
            </a>
            <h5 class="h5 mt-2">Inventario</h5>
        </div>
        <div class="col-2 mt-3 mx-auto text-center">
            <a href="{% url 'proveedores' %}">
                <i class="fas fa-truck fa-3x"></i>
            </a>
            <h5 class="h5 mt-2">Proveedores</h5>
        </div>
    </div>
</div>
{% endblock %}