{% extends 'shared/baseIndex.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block brand %}
<a href="{% url 'AdminHome' %}" class="navbar-brand">
    <img class="img-fluid d-block mx-auto" style="max-height: 5rem;" src="{% static '/images/Logo.png' %}" alt="Logo">
</a>
{% endblock %}

{% block navitems %}
<li class="nav-item">
    <a href="{% url 'AdminHome' %}" class="nav-link">Inicio</a>
</li>
<li class="nav-item">
    <a href="{% url 'Trabajadores' %}" class="nav-link">Gestion de Trabajadores</a>
</li>
<li class="nav-item">
    <a href="{% url 'Reportes' %}" class="nav-link">Reportes</a>
</li>
<li class="nav-item">
    <a href="{% url 'Config' %}" class="nav-link">Configuracion Tienda</a>
</li>
<li class="nav-item">
    <a href="{% url 'Register' %}" class="nav-link">Ingreso de Usuarios</a>
</li>
{% endblock %}

{% block content %}
    <h1>Contenido Admin</h1>
    <!-- Posiblemente tablas con datos importantes -->
{% endblock %}