{% extends 'shared/base.html' %}
{% load static %}

{% block title %}Inicio Sesion{% endblock %}

{% block header %}
    <div class="container-fluid text-center py-5" style="background-color: #4A4063;">
        <img class="img-fluid d-block mx-auto" style="max-height: 6rem;" src="{% static '/images/Logo.png' %}" alt="Logo">
    </div>
{% endblock %}

{% block content %}
    <div class="container d-flex align-items-center justify-content-center" style="height: 70vh;">
        <div class="card p-4 shadow-lg" style="max-width: 32rem; width: 100%; border-radius: 1rem;">
            <form method="POST">
                <h1 class="card-title text-center mb-4" style="font-weight: bold; color: #4A4063;">Inicio de Sesion</h1>
                {% csrf_token %}
                {% if errores.cred_error %}
                <span class="text-danger">{{errores.cred_error}}</span>
                {% elif errores.user_error %}
                <span class="text-danger">{{errores.user_error}}</span>
                {% endif %}
                <div class="form-group mt-3">
                    <label for="username" class="form-label">Usuario</label>
                    <div class="input-group">
                        <input 
                        type="text" 
                        class="form-control" 
                        id="username" 
                        name="username" 
                        placeholder="peralta.javier02" 
                        aria-label="correo" 
                        aria-describedby="basic-addon2"
                        maxlength="254"
                        >
                        <span class="input-group-text" id="basic-addon2">@nufra.com</span>
                    </div>
                    {% if errores.username_empty %}
                    <span class="text-danger">{{errores.username_empty}}</span>
                    {% elif errores.username_max_char %}
                    <span class="text-danger">{{errores.username_max_char}}</span>
                    {% elif errores.username_char_error %}
                    <span class="text-danger">{{errores.username_char_error}}</span>
                    {% endif %}
                </div>
                <div class="form-group mt-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" id="password" name="password" class="form-control" maxlength="100">
                    {% if errores.password_empty %}
                    <span class="text-danger">{{errores.password_empty}}</span>
                    {% elif errores.password_max_char %}
                    <span class="text-danger">{{errores.password_max_char}}</span>
                    {% endif %}
                </div>
                <div class="form-group form-check mt-3">
                    <input type="checkbox" id="remember" name="remember" class="form-check-input">
                    <label for="remember" class="form-check-label">Recordarme</label>
                </div>
                <button type="submit" class="btn btn-secondary w-100 mt-4" style="border-radius: 1rem; font-weight: bold;">LogIn</button>
                <!-- Esto deberia ser solo para ADM -->
                <!-- <div class="text-end mt-3">
                    <a href="#">Registrar</a>
                </div> -->
            </form>
        </div>
    </div>
{% endblock %}
